networks:
  prod_network:
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NO_CACHE: "true"
    container_name: address-service-api
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - prod_network